@import "styles.css";

.welcome-about {
  text-align: center;
  padding: 0px;
  margin: 100px;
  width: 95%;
  margin: auto;
  max-width: 900px;
}

.h1-about {
  font-size: 2rem;
  text-align: left;
  text-decoration: none;
}

.button-about {
  display: flex;
  flex-direction: column;
}

.button-about div {
  display: flex;
  align-items: center;
}

.fa-map-marker-alt {
  color: #fff;
  font-size: 20px;
}

.fa-search {
  color: #0a3641;
}

.search-location {
  padding: 14px;
}

.button {
  width: auto;
}

.text-about {
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-about-center {
  padding: 30px;
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.color-text {
  background-color: #b2b2b2;
  padding: 50px;
}

.about-search-input {
  padding: 14px;
  width: 253px;
  margin: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-width: 500px) {
  .button-about {
    align-items: center;
  }

  .h1-about {
    text-align: center;
  }
}