@import "styles.css";

.h1-login {
  font-size: 2rem;
  text-decoration: none;
}

.h2-login {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}

input {
  width: 30%;
  margin-top: 10px;
  padding: 10px;
  font-size: 10px;
  border-radius: 10px;
  width: 400px;
}

.login-input {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.login-text {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 50px;
}

.login-button {
  background-color: #0a3641;
  color: #fff;
  width: 300px;
  padding: 1rem;
  margin: 10px;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  text-decoration: none;
}

.login-buttons {
  display: flex;
  justify-content: center;
}