@import "styles.css";

.jackets-position {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 20px;
}

.button-jackets {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #fff;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
  margin: 25px;
}

.button-special:hover {
  text-decoration: underline;
}

.name-jackets {
  display: flex;
  justify-content: space-between;
}

.price-jackets {
  display: flex;
  justify-content: space-between;
}

.button-special {
  color: white;
  background-color: #0a3641;
  padding: 10px;
  border: 1px solid white;
  text-decoration: none;
}

.add-cart-button {
  cursor: pointer;
  padding: 10px;
  background-color: #0a3641;
  border: none;
}

.add-cart-button a {
  text-decoration: none;
  color: #fff;
}

.add-cart-button:hover {
  text-decoration: underline;
}