body {
  background: linear-gradient(#3e3030, #36baad);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Open Sans", Verdana, sans-serif;
  color: #fff;
  margin: 0px;
  max-width: 100vw;
  overflow-x: hidden;
}

.welcome {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.mens-jacket-link {
  text-decoration: none;
}

.womans-jacket-link {
  text-decoration: none;
}

.buttons {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  color: white;
  background-color: #0a3641;
  padding: 10px;
  width: 150px;
  border: 1px solid white;
  text-decoration: none;
}

.button:hover {
  text-decoration: underline;
}

.button-size {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.column {
  position: relative;
  text-align: center;
}

.button-img {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-60%, -50%);
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border: 1px solid black;
  padding: 0 20px;
  text-decoration: none;
}

.button-img a {
  text-transform: uppercase;
}

img {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home_logo {
  width: 100px;
  height: 80px;
  padding: 5px;
  color: #fff;
}

.logo_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background: white;
  color: black;
}

.menu {
  font-size: 20px;
}

.premierclub {
  text-align: center;
  background-color: #0a3641;
  padding: 10px;
}

.premierclub p {
  text-transform: uppercase;
}

.fas {
  padding: 5px;
  color: #0a3641;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 10px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;
}

.text {
  font-size: 1.5rem;
  max-width: px;
  margin: 0 auto;
}

nav li {
  display: inline-block;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  text-align: left;
  border: 1px solid white;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  padding: 15px;
}

.active {
  background-color: #0a3641;
  color: #fff;
}

footer {
  background-color: #0a3641;
  color: #fff;
  padding: 25px;
}

.fa-facebook-f {
  cursor: pointer;
  color: #fff;
}

.fa-instagram {
  cursor: pointer;
  color: #fff;
}

.fa-tiktok {
  cursor: pointer;
  color: #fff;
}

.socials-links {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 25px;
}

.copyright-position {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

.copyright {
  font-size: 25px;
}

@media only screen and (max-width: 950px) {
  .row img {
    max-width: 300px;
  }
}

@media only screen and (max-width: 750px) {
  .row img {
    max-width: 200px;
  }
}

@media only screen and (max-width: 500px) {
  .row {
    flex-direction: column;
  }
}
