body {
  background: linear-gradient(#3E3030, #36BAAD);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Open Sans', Verdana, sans-serif;
  color: #fff;
  margin: 0px;
}

.welcome {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box
}


.row {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.button {
padding: 10px;
padding-right: 100px;
text-align: center;
height: 10px;
margin: 5px;
background-color: #0A3641;
color:#fff;
}


img {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home_logo {
  width: 100px;
  height: 80px;
  padding: 5px;
  color: #fff;
}

.logo_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background: white;
  color: black;
}


.premierclub {
  text-align: center;
  background-color: #0A3641;
  padding: 10px;
  margin: 0px;
}


.fas {
  padding: 5px;
  color: #0A3641;
}

.navbar {
 display: flex;
 justify-content: flex-start;
 padding-top: 10px;
 padding-left: 10px;
}


h1, h2, h3{
  font-family: 'Open Sans', Verdana, sans-serif;
  color:#fff;
  text-align:center;
  text-decoration: underline;
}

nav li {
  display: inline-block;
}

nav a {
  color:#fff;
  text-decoration: none;
  padding: 10px;
  text-align: left;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  padding: 15px
}

.active {
  background-color: #0A3641;
  color:#fff
}


footer {
  background-color: #0A3641;
  color: #fff;
  padding: 25px;
  text-align: center;
}

footer::before, footer::after {
  content:"/";
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

/* Home page */ 
