@import "styles.css";

.welcome-product {
  text-align: left;
  padding: 0px;
  margin: 100px;
}

.button-product {
  display: flex;
  text-align: center;
  gap: 70px;
}

a.button-special {
  position: relative;

}

a.button-special::before {
  content: "<";
  font-size: 2.5rem;
  position: absolute;
  left: -40px;
  top: -7px;
}

a.button-special::after {
  content: "/";
  position: absolute;
  font-size: 2.5rem;
  right: -40px;
  top: -7px;
}

.h1-product {
  font-size: 2rem;
  text-align: left;
  text-decoration: none;
  padding-left: 260px;
}

.product-grey-jacket img {
display: flex;
width: 45%;
}

.product-grey-jacket {
  display: flex;
}

.jacket-info {
  margin-left: 10px;
}

.product-text {
  margin: 10px;
  margin-left: 30px;
}

.jacket-info {
  margin-bottom: 70px;
}

.button-checkout {
  display: flex;
  text-align: center;
  gap: 70px;
}

a.button-amazing {
  position: relative;
}

.buy-now-button {
  display: flex;
  flex-direction: row;
  color: #fff;
  background-color: #0A3641;
  padding: 10px;
  margin: 30px;
  border: 1px solid white;
  margin-left: 910px;
  width: 20%;
  justify-content: center;
  text-decoration: none;
}

.fa-check-circle {
  color: #26B126;
  font-size: 200px;
  display: flex;
  justify-content:flex-start;
  padding-left: 340px;
}

.h2-success {
  display: flex;
  justify-content: start;
  padding-left: 150px;
  text-decoration: underline;
}

.h3-info {
  display: flex;
  justify-content: start;
  padding-left: 300px;
}

.h3-info-more {
  padding-left: 125px;
}

.h4-order-track {
  display: flex;
  justify-content: end;
  padding-right: 150px;
}

.shipping-info-1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 100px;
  background-color: #B2B2B2;
  color: #000000;
}

.shipping-info-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 100px;
  background-color: #B2B2B2;
  color: #000000;
}

.h2-shipping-info {
  padding-right: 20px;
}

.kardo-info {
  padding-right: 70px;
}

.address-info {
  padding-left: 40px;
}

.email-info {
  padding-right: 2px;
}

.tel-info {
  padding-right: 70px;
}

.h2-shipping-info-2 {
  padding-right: 15px;
}

.shipping-method {
  padding-right: 30px;
}